[MASTER]
disable=
     C0103, # Variable name "ct" doesn't conform to snake_case naming style (invalid-name)
     R0911, # Too many return statements (7/6) (too-many-return-statements)
     R0912, # Too many branches (13/12) (too-many-branches)
     W0612, # Unused variable 'data' (unused-variable)
     W0613, # Unused argument 'sock' (unused-argument)

[BASIC]

[FORMAT]
max-line-length=130